<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--add name="Blackgold_PRODEntities" connectionString="metadata=res://*/BlackGoldEntityDataModel.csdl|res://*/BlackGoldEntityDataModel.ssdl|res://*/BlackGoldEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CAL0-PP-SQC1V10\PROD10;initial catalog=Blackgold_PROD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /-->
    <add name="Blackgold_PRODEntities" connectionString="metadata=res://*/BlackGoldEntityDataModel.csdl|res://*/BlackGoldEntityDataModel.ssdl|res://*/BlackGoldEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CAL0-PP-SQC1V10\PROD10;initial catalog=Blackgold_PROD;User ID=_blackGoldRead;Password=BUuXFUaB5H;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <!--<add key="GumboStructuredServerName" value="ensign-api.azurewebsites.net" />
    <add key="GumboStructuredApiKey" value="testApiKey_2112$pentagonalDarkness" />
    <add key="GumboStructuredAccessKey" value="testAccessKey_ummagumma68Fuchsia" />
    <add key="GumboRealTimeServerName" value="datagumboqa.azurewebsites.net" />
    <add key="GumboRealTimeApiKey" value="m27uOFOMjEk55RjbpmqnNAPTKU9lpHXCTNAG" />
    <add key="GumboRealTimeAccessKey" value="ufsmAdLhd5vbmIJpbbTVk5UunI4Qek98N6aigicKgrQPsQJqsDW5zE" />-->
    <add key="GumboStructuredServerName" value="ensign-api-prd.azurewebsites.net" />
    <add key="GumboStructuredApiKey" value="670284b6-7773-4367-b85b-883d128f461c" />
    <add key="GumboStructuredAccessKey" value="c8a56be2-b335-4e0d-968e-63d8f9924f7f" />
    <add key="GumboRealTimeServerName" value="datagumbo.azurewebsites.net" />
    <add key="GumboRealTimeApiKey" value="m27uOFOMjEk55RjbpmqnNAPTKU9lpHXCTNAG" />
    <add key="GumboRealTimeAccessKey" value="gd5FLCcYOTc4hAIhsz6713Kh7d0tyZWe7t" />
    <!--add key="IgnitionMySqlConnString" value="Server=192.168.66.194;Database=ignition;Uid=root;Pwd=ensignDatabase"/-->
    <add key="IgnitionMySqlConnString" value="Server=192.168.69.116;Database=ignition;Uid=root;Pwd=ensignDatabase"/>
  </appSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>