<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--<add key="GumboStructuredServerName" value="ensign-api-prd.azurewebsites.net" />
    <add key="GumboStructuredApiKey" value="670284b6-7773-4367-b85b-883d128f461c" />
    <add key="GumboStructuredAccessKey" value="c8a56be2-b335-4e0d-968e-63d8f9924f7f" />
    <add key="GumboRealTimeServerName" value="datagumbo.azurewebsites.net" />
    <add key="GumboRealTimeApiKey" value="m27uOFOMjEk55RjbpmqnNAPTKU9lpHXCTNAG" />
    <add key="GumboRealTimeAccessKey" value="gd5FLCcYOTc4hAIhsz6713Kh7d0tyZWe7t" />-->
    <add key="GumboStructuredServerName" value="ensign-api.azurewebsites.net"/>
    <add key="GumboStructuredApiKey" value="testApiKey_2112$pentagonalDarkness"/>
    <add key="GumboStructuredAccessKey" value="testAccessKey_ummagumma68Fuchsia"/>
    <add key="GumboRealTimeServerName" value="datagumboqa.azurewebsites.net"/>
    <add key="GumboRealTimeApiKey" value="m27uOFOMjEk55RjbpmqnNAPTKU9lpHXCTNAG"/>
    <add key="GumboRealTimeAccessKey" value="ufsmAdLhd5vbmIJpbbTVk5UunI4Qek98N6aigicKgrQPsQJqsDW5zE"/>
  </appSettings>
</configuration>