<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <!--add name="IgnitionDb.Properties.Settings.ignitionConnectionString" connectionString="server=192.168.66.194;user id=root;password=ensignDatabase;database=ignition;persistsecurityinfo=True" providerName="MySql.Data.MySqlClient" /-->
    <add name="IgnitionDb.Properties.Settings.ignitionConnectionString" connectionString="server=192.168.69.116;user id=root;password=ensignDatabase;database=ignition;persistsecurityinfo=True" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="IgnitionMySqlConnString" value="Server=192.168.69.116;Database=ignition;Uid=root;Pwd=ensignDatabase"/>
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>